<configuration>
    <!-- in the absence of the class attribute, assume
       ch.qos.logback.core.hook.DefaultShutdownHook -->
    <shutdownHook/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{dd-MM-yyy'T'HH:mm:ss.SSS} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>